$sm-grid: 768px;
$md-grid: 1024px;
$lg-grid: 1366px;

$primary-color: #363636;
$secondary-color: #FFF;
$complementary-color: #ff740b;

.hidden {
    display: none !important;
}

%clearfix {

    &:before {
        content: '';
        display: table;
        clear: both;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

}