.main-navigation {
    position: fixed;
    width: 100%;
    z-index: 2000;
    background-color: $primary-color;
}

    .main-navigation__item {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 10px;

        cursor: pointer;
        vertical-align: top;
        background-color: $primary-color;

        &:hover{
            background-color: $complementary-color;
        }

        a, img {
            display: inline-block;
            width: 50px;
            height: 50px;
        }

    }

    .main-navigation__item--logo {

        width: 100px;
        height: 100px;
        background-color:transparent;

        a, img {
            width: 100px;
            height: 100px;
        }
    }

.rotate {
    transform: rotate(90deg);
    transform-origin: 60px 50%;
    transition: transform 1s;
    
}

.rotate--reverse {
    transform: rotate(0deg);
    transform-origin: 60px 50%;
    transition: transform 1s;
}

.rotate-child {
    transform: rotate(-90deg);
    vertical-align: bottom;
    transition: transform 1s, vertical-align 1s;
}

.rotate-child--reverse {
    transform: rotate(0deg);
    transition: transform 1s;
}

@media (min-width: $sm-grid) {

}

@media (min-width: $md-grid) {

}

@media (min-width: $lg-grid) {

    .main-navigation__item:nth-of-type(3), .main-navigation__item:nth-of-type(4) {
        border: none;
        
        img {
            max-width: 50px;
            max-height: 50px;
        }

    }

    .main-navigation {
        display: inline-block;
        width: auto;

        background-color: transparent;
    }

}