.main-navigation {
    position: fixed;
    width: 100%;
    z-index: 2000;
    background-color: $primary-color;

    .nav-gallery {
        background: url(/Content/images/menu-sprite.png) no-repeat;
        background-size: 100px;

        a {
            background: url(/Content/images/menu-sprite.png) no-repeat -50px 0;
            background-size: 100px;
            opacity: 0;
        }

        a:hover {
            opacity: 1;
            -webkit-transition: ease 0.3s;
	        -moz-transition: ease 0.3s;
	        -o-transition: ease 0.3s;
        }
    }

    .nav-login {
        background: url(/Content/images/menu-sprite.png) no-repeat 0 -181px;
        background-size: 100px;
    }
    
    .nav-about {
        background: url(/Content/images/menu-sprite.png) no-repeat 0 -132px;
        background-size: 100px;
    }

}

    .main-navigation__item {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 10px 8px 10px 0;

        cursor: pointer;
        vertical-align: top;
        background-color: $primary-color;

        &:hover:nth-child(1n+3) {
            background-color: $complementary-color;
            -webkit-transition: ease 0.3s;
	        -moz-transition: ease 0.3s;
	        -o-transition: ease 0.3s;
        }

        a, img {
            display: inline-block;
            width: 50px;
            height: 50px;
        }

    }

    .main-navigation__item:first-child {
        margin: 10px;
    }

    .main-navigation__item--logo {

        width: 100px;
        height: 100px;
        background-color:transparent;

        &:hover{
            background-color: transparent;
        }
        a, img {
            width: 100px;
            height: 100px;
        }
    }

.rotate {
    transform: rotate(90deg);
    transform-origin: 60px 50%;
    transition: transform 1s;
    
}

.rotate--reverse {
    transform: rotate(0deg);
    transform-origin: 60px 50%;
    transition: transform 1s;
}

.rotate-child {
    transform: rotate(-90deg);
    vertical-align: bottom;
    transition: transform 1s, vertical-align 1s;
}

.rotate-child--reverse {
    transform: rotate(0deg);
    transition: transform 1s;
}

@media (min-width: $sm-grid) {

}

@media (min-width: $md-grid) {

}

@media (min-width: $lg-grid) {

    .main-navigation__item:nth-of-type(3), .main-navigation__item:nth-of-type(4) {
        border: none;
        
        img {
            max-width: 50px;
            max-height: 50px;
        }

    }

    .main-navigation {
        display: inline-block;
        width: auto;

        background-color: transparent;
    }

}