.search {
    position: fixed;
    top: 70px;

    width: 100%;
    height: 50px;

    background-color: $secondary-color;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);

}

.search__arrow {
    width: 49px;
    height: auto;
    padding: 5px;
    cursor: pointer;
}

.search:after {
    display: table;
    content: '';
    clear: both;
}

    .search__form {
    }

    .search__type {
        position: absolute;
        top: 0;
        left: 0;

        padding: 10px;

        cursor: pointer;
    }

    .search__type-text {
        width: 80px;

        font-family: 'SimplySquare';
        font-weight: 700;
        font-size: 1.25rem;
        letter-spacing: 2px;
        line-height: 30px;

        border-right: 1px  solid #CCC;

    }

    .search__searchbar-wrapper {
        position: absolute;
        top: 0;

        width: 100%;
        padding: 10px;
    }

    .search__searchbar {
        width: 100%;
        height: 30px;

        font-family: 'LatoRegular';
        border: none;
        outline: none;
    }

    .search__submit {
        position: absolute;
        top: 0;
        right: 0;

        padding: 10px;
        cursor: pointer;
    }

    .search__sort {
        position: absolute;
        top: 50px;

        width: 100%;
    }

    .search__sort-item {
        float: left;
        width: 33.3333%;
        padding: 10px;

        font-family: 'SimplySquare';
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: 3px;
        text-align: center;

        color: $secondary-color;
        background-color: $primary-color;

        cursor: pointer;
    }

    .search__sort-item:hover {
        background-color: $complementary-color;
    }

@media (min-width: $sm-grid) {

    .search__searchbar-wrapper {
        position: absolute;
        top: 0;
        padding-left: 100px;
        padding-right: 60px;
    }

}

@media (min-width: $md-grid) {



}

@media (min-width: $lg-grid) {

    .search {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 700px;
    }

    .gallery .search {
        position: absolute;
        top: 100px;
        right: 0;

        width: 70%;
        margin: 0 15%;
    }

}