@font-face {
  font-family: 'SimplySquare';
  src: url("../fonts/SimplySquare.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/SimplySquare.woff2") format("woff2"), url("../fonts/SimplySquare.woff") format("woff"), url("../fonts/SimplySquare.ttf") format("truetype"); }

@font-face {
  font-family: 'LatoRegular';
  src: url("../fonts/LatoRegular.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/LatoRegular.woff2") format("woff2"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.ttf") format("truetype"); }

/* SASS START*/
.inner-wrapper:before, .inner-wrapper:after, .designer-container {
  content: '';
  display: table;
  clear: both; }

/* SASS END */
/* CSS Reset START */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none; }

body {
  position: relative;
  line-height: 1;
  background: url(/Content/images/bg.jpg) no-repeat;
  font-family: "SimplySquare", Fallback, sans-serif;
  color: #363636;
  font-weight: 100; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit; }

input, select {
  vertical-align: middle; }

/* CSS Reset END */
/*Navigation start*/
.hidden {
  display: none !important; }

.inner-wrapper:before, .designer-container:before {
  content: '';
  display: table;
  clear: both; }

.inner-wrapper:after, .designer-container:after {
  content: '';
  display: table;
  clear: both; }

.main-navigation {
  position: fixed;
  width: 100%;
  z-index: 2000;
  background-color: #363636; }
  .main-navigation .nav-gallery {
    background: url(/Content/images/menu-sprite.png) no-repeat;
    background-size: 100px; }
    .main-navigation .nav-gallery a {
      background: url(/Content/images/menu-sprite.png) no-repeat -50px 0;
      background-size: 100px;
      opacity: 0; }
    .main-navigation .nav-gallery a:hover {
      opacity: 1;
      -webkit-transition: ease 0.3s;
      -moz-transition: ease 0.3s;
      -o-transition: ease 0.3s; }
  .main-navigation .nav-login {
    background: url(/Content/images/menu-sprite.png) no-repeat 0 -181px;
    background-size: 100px; }
  .main-navigation .nav-about {
    background: url(/Content/images/menu-sprite.png) no-repeat 0 -132px;
    background-size: 100px; }

.main-navigation__item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px 8px 10px 0;
  cursor: pointer;
  vertical-align: top;
  background-color: #363636; }
  .main-navigation__item:hover:nth-child(1n+3) {
    background-color: #ff740b;
    -webkit-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s; }
  .main-navigation__item a, .main-navigation__item img {
    display: inline-block;
    width: 50px;
    height: 50px; }

.main-navigation__item:first-child {
  margin: 10px; }

.rotate {
  transform: rotate(90deg);
  transform-origin: 60px 50%;
  transition: transform 1s; }

.rotate--reverse {
  transform: rotate(0deg);
  transform-origin: 60px 50%;
  transition: transform 1s; }

.rotate-child {
  transform: rotate(-90deg);
  vertical-align: bottom;
  transition: transform 1s, vertical-align 1s; }

.rotate-child--reverse {
  transform: rotate(0deg);
  transition: transform 1s; }

@media (min-width: 1366px) {
  .main-navigation__item:nth-of-type(3), .main-navigation__item:nth-of-type(4) {
    border: none; }
    .main-navigation__item:nth-of-type(3) img, .main-navigation__item:nth-of-type(4) img {
      max-width: 50px;
      max-height: 50px; }
  .main-navigation {
    display: inline-block;
    width: auto;
    background-color: transparent; }
  .main-navigation__item--logo {
    width: 100px;
    height: 100px;
    background-color: transparent; }
    .main-navigation__item--logo:hover {
      background-color: transparent; }
    .main-navigation__item--logo a, .main-navigation__item--logo img {
      width: 100px;
      height: 100px; } }

/*Navigation end*/
/*Search start*/
.search {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.search__arrow {
  width: 49px;
  height: auto;
  padding: 5px;
  cursor: pointer; }

.search:after {
  display: table;
  content: '';
  clear: both; }

.search__type {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer; }

.search__type-text {
  width: 80px;
  font-family: 'SimplySquare';
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 30px;
  border-right: 1px  solid #CCC; }

.search__searchbar-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px; }

.search__searchbar {
  width: 100%;
  height: 30px;
  font-family: 'LatoRegular';
  border: none;
  outline: none; }

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer; }

.search__sort {
  position: absolute;
  top: 50px;
  width: 100%; }

.search__sort-item {
  float: left;
  width: 33.3333%;
  padding: 10px;
  font-family: 'SimplySquare';
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  color: #FFF;
  background-color: #363636;
  cursor: pointer; }

.search__sort-item:hover {
  background-color: #ff740b; }

@media (min-width: 768px) {
  .search__searchbar-wrapper {
    position: absolute;
    top: 0;
    padding-left: 100px;
    padding-right: 60px; } }

@media (min-width: 1366px) {
  .search {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 700px; }
  .gallery .search {
    position: absolute;
    top: 100px;
    right: 0;
    width: 70%;
    margin: 0 15%; } }

.squares-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 5000;
  background: rgba(54, 54, 54, 0.8); }

.squares-modal__close {
  position: absolute;
  top: 10px;
  right: 10px; }

.squares-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*Search end*/
/* Index page START */
/* Index page header START */
.inner-wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh; }

.index-slogan {
  float: left;
  width: 100%;
  height: 100vh; }

h1 {
  margin-top: 20vh;
  text-align: center;
  font-size: 128px;
  font-weight: 100;
  line-height: 98px;
  font-variant: small-caps; }

.index-slogan p {
  margin: 20px auto;
  padding: 20px 0 0 0;
  width: 65%;
  text-align: center;
  font-family: "LatoRegular", Fallback, sans-serif;
  font-size: 1.2vw;
  line-height: 27px;
  border-top: 5px #363636 solid; }

.index-slogan span {
  display: block;
  margin: 0 auto;
  width: 65%;
  text-align: center;
  font-family: 'LatoRegular', Fallback, sans-serif;
  font-size: 1.2vw; }

.index-slogan span a:hover {
  color: #ff740b;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

/* Index page header END */
/* Index - Most popular START */
.index .content-container {
  float: left;
  margin-top: -100px;
  width: 100%; }

h2 {
  padding: 16px 0;
  font-size: 68px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  background-color: #363636; }

.content-container section {
  float: left;
  padding: 30px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.content-container section ul li.set-item {
  float: left;
  margin-bottom: 60px;
  width: 48%; }

.content-container section ul li.set-item:nth-child(odd) {
  margin-right: 4%; }

.set-title {
  font-size: 48px;
  font-weight: 100; }

.artist-name {
  font-size: 30px;
  font-weight: 100; }

.set-description {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 100; }

.artist-name,
.set-description {
  font-family: 'LatoRegular'; }

.rating-container {
  float: left;
  margin-bottom: 10px; }

.rating-container dt {
  float: left;
  width: 23px;
  height: 22px;
  margin-right: 0; }

.rating-container dt.rating-on {
  background: 0 0 url("/Content/images/star.png") no-repeat; }

.rating-container dt.rating-off {
  background: 0 -28px url("/Content/images/star.png") no-repeat; }

.content-container section ol.set-preview {
  display: flex;
  float: left;
  width: 100%;
  margin-bottom: 20px; }

.content-container section ol.set-preview li {
  float: left;
  width: 20%;
  border: 1px #363636 solid; }

.content-container section ol.set-preview li:hover {
  border: 1px #ff740b solid;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

.content-container section ol.set-preview li:nth-child(1n+2) {
  margin-left: 15px; }

.content-container section ol.set-preview li img {
  width: 100%; }

.btn {
  float: right;
  width: 230px;
  height: 65px;
  background-color: #363636;
  cursor: pointer;
  color: #fff;
  font-family: "SimplySquare", Fallback, sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none;
  border: none;
  border-radius: 0;
  outline: none; }

.btn:hover,
.gallery-controls > button:hover {
  background-color: #ff740b;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

/* Index most popular END */
/* Designer START */
.designer .inner-wrapper {
  padding: 200px 0; }

.designer .content-container {
  margin-top: 20px; }

.designer-container {
  width: 100%;
  padding: 100px 0; }

.designer h3 {
  margin-bottom: 5px;
  font-size: 48px;
  font-weight: 100; }

.designer .rating-container {
  margin-bottom: 20px; }

.designer .artist-name {
  float: left;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 100; }

.main-image {
  float: left;
  width: 49%;
  background: #fff;
  border: 1px solid #363636; }

.designer-grid {
  margin: 0 auto;
  width: 100%;
  height: 600px;
  max-width: 600px;
  max-height: 600px; }

.designer-grid li {
  float: left;
  margin: 0 10px 10px 0;
  width: 32.3%;
  padding-top: 33.9%;
  background: #fff; }

.designer-grid li:nth-last-child(-n+3) {
  margin-bottom: 0; }

.designer-grid li:nth-child(3n) {
  margin-right: 0; }

.image-gallery {
  float: left;
  width: 100%;
  margin-top: 20px; }

.image-gallery li {
  float: left;
  height: 107px;
  border: 2px solid #e7e7e7; }

.image-gallery li img {
  display: block;
  max-height: 100%; }

.image-gallery li:hover {
  border: 2px solid #ff740b;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  cursor: pointer; }

.image-gallery .flickity-prev-next-button {
  width: 75px;
  height: 75px; }

.image-gallery .flickity-prev-next-button.previous {
  left: -50px;
  background: none; }

.image-gallery .flickity-prev-next-button.next {
  right: -50px;
  background: none; }

.designer h4 {
  font-size: 30px;
  font-weight: 100; }

.designer-set-desrcription {
  float: left;
  margin-top: 20px;
  width: 50%; }

.designer-controls {
  float: right;
  margin-top: 20px; }

.designer .set-description {
  margin-top: 0; }

.preview {
  float: left; }

.preview li {
  float: left;
  margin-right: 10px;
  width: 65px;
  height: 65px;
  background: url(images/menu-sprite.png) no-repeat #363636; }

.preview li:hover {
  background-color: #ff740b;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

.preview li a {
  display: block;
  width: 100%;
  height: 100%; }

.preview .preview-shirt {
  background-position: -114px -602px; }

.preview .preview-wall {
  background-position: -114px -686px; }

/* Designer END */
/* About START */
.about-list {
  margin-top: 20px; }

.about-list,
.about-list li {
  float: left;
  width: 100%; }

.about-list li:first-child > img {
  display: block;
  width: 35%;
  margin: 0 auto; }

.about-list article,
.about-list article img,
.about-list article p {
  float: left;
  font-family: "LatoRegular", Fallback, sans-serif; }

.about-list article {
  margin: 20px 0 20px 0; }

.about-list li > h4 {
  font-size: 36px;
  font-weight: 100; }

.about-list article p {
  margin-left: 20px;
  width: 70%; }

.about-list li:nth-child(1n+2) {
  border-bottom: solid 1px #cecece;
  margin-top: 20px; }

.about-list li:last-child {
  border: none; }

/* About END */
/* Form START */
.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "LatoRegular", Fallback, sans-serif; }

.feedback-input {
  color: #363636;
  font-weight: 100;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fff;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #ff740b;
  color: #363636;
  outline: none;
  padding: 13px 13px 13px 54px;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

.focused {
  color: #ff740b;
  border: #ff740b solid 3px; }

/* Icons ---------------------------------- */
#username {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#username:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#first-name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 9px;
  background-repeat: no-repeat; }

#last-name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 9px;
  background-repeat: no-repeat; }

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat; }

#password,
#repeat-password {
  background-image: url(images/password.png);
  background-position: 2px 0;
  background-repeat: no-repeat; }

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color: #fff; }

.form-button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: right;
  width: 200px;
  height: 65px;
  cursor: pointer;
  background-color: #363636;
  color: #fff;
  border: none;
  font-family: 'SimplySquare';
  font-size: 36px; }

.form-button:hover {
  background-color: #ff740b;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

/* Form END */
/* Designer START */
/* Designer END */
/* Account Page START */
.profile-container {
  float: left;
  width: 100%;
  margin-top: 200px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.profile-image-container {
  float: left;
  width: 20%; }
  .profile-image-container img {
    float: left;
    width: 100%; }

.profile-info-container {
  float: left;
  width: 65%;
  margin-left: 2%; }
  .profile-info-container h3 {
    font-size: 42px; }
  .profile-info-container p {
    font-family: "LatoRegular", Fallback, sans-serif;
    font-size: 16px; }

.profile-sets-container {
  float: left;
  margin-top: 20px;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.profile-sets-wrapper {
  float: left;
  width: 100%;
  padding: 20px; }
  .profile-sets-wrapper h3 {
    font-size: 42px; }
  .profile-sets-wrapper ul {
    display: flex;
    float: left;
    width: 100%;
    padding-bottom: 20px; }
    .profile-sets-wrapper ul li {
      float: left;
      width: 20%;
      margin-left: 10px;
      border: 1px solid #363636; }
      .profile-sets-wrapper ul li img {
        width: 100%; }
    .profile-sets-wrapper ul li:hover {
      border-color: #ff740b;
      cursor: pointer;
      -webkit-transition: ease 0.5s;
      -moz-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s; }
    .profile-sets-wrapper ul li:first-child {
      margin: 0; }

/* Accout Page END */
/* Footer START */
footer {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  background-color: #363636;
  font-family: 'LatoRegular';
  font-size: 14px; }

footer > ul,
footer > ul > li {
  display: block;
  color: #fff; }

footer > ul {
  float: left;
  width: 100%; }

footer > ul > li:nth-child(2) {
  width: 170px;
  margin: 0 auto; }

ul.social-media {
  float: left;
  margin: 10px 0 0 30px; }

ul.social-media li {
  float: left;
  margin-right: 10px; }

ul.social-media li a {
  float: left;
  width: 30px;
  height: 30px;
  background: url("/Content/images/social-medias.png") no-repeat; }

ul.social-media .social-fb a:hover {
  background-position: -30px 0; }

ul.social-media .social-tw a {
  background-position: 0 -40px; }

ul.social-media .social-tw a:hover {
  background-position: -30px -40px; }

ul.social-media .social-gplus a {
  background-position: 0 -80px; }

ul.social-media .social-gplus a:hover {
  background-position: -30px -80px; }

ul.social-media .social-instagr a {
  background-position: 0 -120px; }

ul.social-media .social-instagr a:hover {
  background-position: -30px -120px; }

footer ul.footer-nav {
  float: left;
  width: 100%;
  margin-top: 20px; }

footer ul.footer-nav li {
  float: left;
  margin-left: 10px;
  text-decoration: none; }

footer ul.footer-nav > li > a {
  text-decoration: none; }

footer ul.footer-nav > li > a:hover {
  color: #ff740b;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s; }

footer > ul > li:nth-child(3) {
  float: right;
  margin: 20px 30px 0 0; }

/* Footer END */
/* Index page END */
/* External START */
@media screen and (max-width: 1366px) {
  .inner-wrapper {
    width: 60%; }
  h1 {
    margin-top: 200px;
    font-size: 12vh;
    line-height: 9vh; }
  .index-slogan p {
    margin: 10px auto;
    padding: 10px 0 0 0;
    width: 80%;
    font-size: 18px;
    line-height: 3vh;
    border-top: 2px #363636 solid; }
  .index-slogan span {
    font-size: 18px; }
  .index .content-container {
    margin-top: -82px; }
  h2 {
    font-size: 50px; }
  .main-navigation .nav-gallery {
    background-size: 92px;
    background-position: -37px -218px; }
    .main-navigation .nav-gallery:hover {
      background-color: #ff740b;
      -webkit-transition: ease 0.3s;
      -moz-transition: ease 0.3s;
      -o-transition: ease 0.3s; }
    .main-navigation .nav-gallery a {
      background: none; }
  .content-container section ol.set-preview li:nth-child(1n+2) {
    margin-left: 10px; }
  .content-container section p {
    margin-top: 0;
    width: 100%;
    font-size: 14px; }
  .about .content-container section p {
    width: 65%; }
  .about-list article img {
    width: 25%; }
  .content-container section li.set-item button {
    width: 150px;
    height: 50px;
    font-size: 22px; }
  .gallery .content-container,
  .about .content-container {
    padding-top: 220px;
    width: 100%; }
  .content-container section ol.set-preview {
    margin-bottom: 10px; }
  .content-container section ul li.set-item {
    margin-bottom: 30px; }
  .gallery-controls > button {
    font-size: 24px; }
  .content-container section h3 {
    font-size: 36px; }
  .designer-container {
    display: block; }
  .main-image {
    width: 100%; }
  .designer h3 {
    margin-top: 125px; }
  .designer .rating-container {
    clear: both; }
  .designer-grid {
    float: left;
    width: 100%;
    margin: 0; } }

@media only screen and (max-width: 1024px) {
  .inner-wrapper {
    width: 100%; }
  .index .content-container {
    margin-top: -71px; }
  .content-container section ul li.set-item {
    width: 100%; }
  .menu-list {
    float: left;
    width: 100%;
    background: #363636; }
  .menu-list li {
    height: 125px; }
  .menu-list li a {
    display: block;
    width: 100%;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    line-height: 125px;
    border-bottom: 1px solid #e7e7e7; }
  h1 {
    margin-top: 31vh;
    font-size: 12vh;
    line-height: 9vh; }
  h2 {
    padding: 18px 0;
    font-size: 32px; }
  .index-slogan p {
    margin: 1.5vh auto;
    padding: 1vh 0 0 0;
    width: 65%;
    font-size: 16px;
    line-height: 3vh; }
  .index-slogan span {
    font-size: 16px; }
  footer {
    display: none; }
  .content-container section li.set-item button {
    width: 190px;
    height: 60px;
    font-size: 30px; }
  .gallery .content-container {
    padding-top: 154px; }
  .about .content-container {
    padding-top: 94px; }
  .gallery-controls > button {
    height: 65px;
    font-size: 32px; }
  .gallery-controls input {
    height: 55px; }
  .content-container .set-description {
    margin-top: 0;
    width: 100%;
    font-size: 18px; }
  .artist-name {
    font-size: 22px; }
  .profile-container {
    margin-top: 164px; }
  .profile-sets-container {
    margin-top: 0; }
  .search {
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7; }
  .inner-wrapper {
    padding: 20px; } }

@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 26vh; }
  .index-slogan p {
    width: 90%; }
  .gallery .content-container, .about .content-container {
    padding-top: 94px; }
  .profile-container {
    margin-top: 120px; } }

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 9vh;
    line-height: 7vh; } }

/* External END */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET AND CSS FOR RESPONSIVE */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
/* MAKE AN IMPORT SASS FILE WITH CSS RESET */
.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1920px;
  max-height: 1080px; }

/*

    DESIGNER COMPONENT

*/
.overlay {
  z-index: 10000; }

.underlayExtra {
  z-index: -20000; }

.underlay {
  z-index: -10000; }

.drop-zone, .drag-zone {
  position: relative;
  width: 100%;
  height: 100%; }

.drag-zone {
  height: 100%; }

.dragbox-wrapper {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px; }

.drag-zone img {
  width: 100%;
  height: 100%; }

.corner {
  position: absolute;
  z-index: 30000; }

#top-left {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 30px solid  #FF740B;
  border-right: 30px solid transparent; }

#top-right {
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 30px solid  #FF740B;
  border-left: 30px solid transparent; }

#bottom-left {
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 30px solid  #FF740B;
  border-right: 30px solid transparent; }

#bottom-right {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 30px solid  #FF740B;
  border-left: 30px solid transparent; }

.dropbox-wrapper {
  float: left;
  position: relative; }

.dropbox {
  border: 1px dashed #000; }

.dropbox-wrapper .rotator {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20000; }

.gutter {
  padding: 10px !important; }

.dragbox {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #000;
  z-index: 10000; }

/*
    DESIGNER COMPONENT END
*/

