/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, input, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'SS';
  src: url("/fonts/SimplySquare.ttf");
  /* IE9 Compat Modes */
  src: url("/fonts/SimplySquare.woff2") format("woff2"), url("/fonts/SimplySquare.woff") format("woff"), url("/fonts/SimplySquare.ttf") format("truetype");
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'Lato';
  src: url("/fonts/LatoRegular.ttf");
  /* IE9 Compat Modes */
  src: url("/fonts/LatoRegular.woff2") format("woff2"), url("/fonts/LatoRegular.woff") format("woff"), url("/fonts/LatoRegular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

body {
  position: relative;
  min-height: 100vh;
  font-family: Lato; }

a:visited {
  color: #FFF; }

input {
  outline: none; }

.remove-gutter {
  padding: 0; }

.bring-to-front {
  z-index: 2000; }

.send-to-back {
  z-index: -2000; }

.main-navigation {
  position: fixed;
  width: 100%;
  z-index: 2000;
  background-color: #222; }

.main-navigation__item {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin: 10px;
  cursor: pointer;
  vertical-align: bottom; }
  .main-navigation__item img {
    max-width: 50px;
    max-height: 50px; }

.main-navigation__item:nth-of-type(3), .main-navigation__item:nth-of-type(4) {
  border: 3px solid #FFF;
  background-color: #222; }
  .main-navigation__item:nth-of-type(3) img, .main-navigation__item:nth-of-type(4) img {
    max-width: 44px;
    max-height: 44px; }

.main-navigation__item:nth-of-type(2):hover {
  content: url("/Content/images/gallery-hover.png"); }

.main-navigation__item:nth-of-type(3):hover {
  content: url("/Content/images/about-hover.png");
  background-color: #ff6a00; }

.main-navigation__item:nth-of-type(4):hover {
  content: url("/Content/images/login-hover.png");
  background-color: #ff6a00; }

.v {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5000; }

.h {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 5000; }

.f {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 5000; }

.rotate {
  transform: rotate(90deg);
  transform-origin: 35px 50%;
  transition: transform 1s; }

.rotate-reverse {
  transform: rotate(0deg);
  transform-origin: 35px 50%;
  transition: transform 1s; }

.rotate1 {
  transform: rotate(-90deg);
  transition: transform 1s; }

.rotate1-reverse {
  transform: rotate(0deg);
  transition: transform 1s; }

@media (min-width: 1200px) {
  .main-navigation__item:nth-of-type(3), .main-navigation__item:nth-of-type(4) {
    border: none; }
    .main-navigation__item:nth-of-type(3) img, .main-navigation__item:nth-of-type(4) img {
      max-width: 50px;
      max-height: 50px; }
  .main-navigation {
    display: inline-block;
    width: auto;
    background-color: transparent; } }

.fold {
  position: relative;
  width: 100%;
  height: 100vh; }

.fold--collapse {
  opacity: 0;
  height: 0;
  transition: height 1s, opacity 1s;
  transform-origin: 0 50%; }

.fold__content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.fold__header {
  max-width: 700px;
  text-align: center; }

.fold__title {
  display: inline-block;
  font-family: 'SS';
  font-size: 3.5rem;
  padding-bottom: 5px; }

.fold__subtitle {
  display: inline-block;
  padding-top: 5px;
  border-top: 3px solid #222; }

.gallery {
  padding: 0 200px 100px;
  background: url(images/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.gallery__header {
  padding: 16px 0;
  text-align: center;
  background-color: #222; }
  .gallery__header h1 {
    font-family: 'SS';
    font-size: 3.5rem;
    font-weight: 700;
    color: #FFF; }

.gallery__item {
  padding: 20px;
  cursor: pointer; }

.gallery__image {
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  vertical-align: middle; }

.search {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  border: 2px solid #CCC; }

.search:after {
  display: table;
  content: '';
  clear: both; }

.search__type {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer; }

.search__type-text {
  width: 80px;
  font-family: 'SS';
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 30px;
  border-right: 1px  solid #CCC; }

.search__searchbar-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px; }

.search__searchbar {
  width: 100%;
  height: 30px; }

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer; }

.search__sort {
  position: absolute;
  top: 50px;
  width: 100%; }

.search__sort-item {
  padding: 10px;
  font-family: 'SS';
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  color: #FFF;
  background-color: #222;
  cursor: pointer; }

.search__sort-item:hover {
  background-color: #ff6a00; }

@media (min-width: 768px) {
  .search {
    height: 98px; }
  .search__searchbar-wrapper {
    position: absolute;
    top: 0;
    padding-left: 100px;
    padding-right: 60px; } }

@media (min-width: 1200px) {
  .search {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px; } }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #222; }

.set__wrapper {
  padding: 20px; }

.set {
  padding: 20px;
  background-color: #F5F5F5;
  border: 1px solid #CCC; }

.set__title {
  padding-top: 10px;
  margin-bottom: 5px;
  font-family: 'SS';
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px; }

.set__author {
  margin-bottom: 10px;
  font-family: 'Lato';
  font-size: 1.25rem;
  font-style: italic; }

.set__description {
  margin-bottom: 50px;
  font-family: 'Lato'; }

.set__piece {
  width: 100%;
  height: auto;
  border: 1px solid #222; }

.set__btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px 30px;
  font-family: 'SS';
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #FFF;
  background-color: #222;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.set__btn:hover {
  background-color: #ff6a00; }

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1920px;
  max-height: 1080px; }

