@{
    ViewBag.Title = "About";
}

<div id="transify" class="content-container">
    <section>
        <ul class="about-list">
            <li><img src="~/Content/images/about-image.png"></li>
            <li>
                <h4>Heading</h4>
                <article>
                    <img src="~/Content/images/imageBlank.jpg">
                    <p>
                        We believe in the power of your individuality.
                        We want designers and customers to work together building that individuality.
                        SQUARES is a digital suite, where you rearrange the work of real print designers to fit your individuality.
                    </p>
                </article>
            </li>
        </ul>
    </section>
</div>