@using System.Data
@model List<Squares.Models.Set>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="gallery-hook" class="content-container">
    <section>
        <ul>
            @{

                foreach (var set in Model.ToList())
                {
                    <li class="set-item">
                        <h3 class="set-title">@set.Title</h3>
                        <span class="artist-name">@set.Artist.Alias</span>
                        <p class="set-description">
                            @set.Description
                        </p>
                        <dl class="rating-container">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i <= set.Rating)
                                {
                                    <dt class="rating-on"></dt>
                                }
                                else
                                {
                                    <dt class="rating-off"></dt>
                                }
                            }
                        </dl>
                        <ol class="set-preview">
                            @for (int i = 0; i < 5; i++)
                            {
                                <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                            }
                        </ol>
                        @Html.ActionLink("Customize", "Designer", "Home", new { setId = set.SetId }, new { @class = "btn" })
                        @*<button class="btn">Customize</button>*@
                    </li>
                }
            }
        </ul>
    </section>
</div>
