@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-container">
    <div class="gallery-controls">
        <button class="active">Sort by rating</button>
        <button>Sort by name</button>
        <button>Sort by artist</button>
        <input type="text">
        <ul class="keywords">
            <li>Keyword</li>
            <li>Keyword2</li>
            <li>Keyword3</li>
            <li>Keyword4</li>
            <li>Keyword5</li>
            <li>Keyword6</li>
            <li>Keyword7</li>
            <li>Keyword8</li>
            <li>Keyword9</li>
            <li>Keyword10</li>
        </ul>
    </div>
    <section>
        <ul>
            <li class="set-item">
                <h3>Title</h3>
                <span>Artist Name</span>
                <p>
                    Description Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                </p>
                <dl>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-off"></dt>
                </dl>
                <ol class="set-preview">
                    <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                </ol>
                <button>Customize</button>
            </li>
            <li class="set-item">
                <h3>Title second</h3>
                <span>Artist Name</span>
                <p>
                    Description Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                </p>
                <dl>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-off"></dt>
                    <dt class="rating-off"></dt>
                </dl>
                <ol class="set-preview">
                    <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                </ol>
                <button>Customize</button>
            </li>
            <li class="set-item">
                <h3>Title third</h3>
                <span>Artist Name</span>
                <p>
                    Description Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                </p>
                <dl>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-off"></dt>
                </dl>
                <ol class="set-preview">
                    <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                </ol>
                <button>Customize</button>
            </li>
            <li class="set-item">
                <h3>Title fourth</h3>
                <span>Artist Name</span>
                <p>
                    Description Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                </p>
                <dl>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                    <dt class="rating-on"></dt>
                </dl>
                <ol class="set-preview">
                    <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                    <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                </ol>
                <button>Customize</button>
            </li>
        </ul>
    </section>
</div>