@{
    ViewBag.Title = "Home Page";
}

<section class="index-slogan">
    <h1>
        Simply square,<br />
        we hate circles
    </h1>
    <p>
        Description of the what the website is all about. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum
        fugiat quo voluptas nulla pariatur
    </p>
    <span><a href="#">Click here</a> to find out how to use our designer.</span>
</section>
<div id="index-hook" class="content-container">
    <h2>Most popular sets</h2>
    <section>
        <ul>

            @{

                for (var i = 0; i < 6; i++)
                {
                    <li class="set-item">
                        <h3 class="set-title">Title</h3>
                        <span class="artist-name">Artist Name</span>
                        <p class="set-description">
                            Description Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat.
                        </p>
                        <dl class="rating-container">
                            <dt class="rating-on"></dt>
                            <dt class="rating-on"></dt>
                            <dt class="rating-on"></dt>
                            <dt class="rating-on"></dt>
                            <dt class="rating-off"></dt>
                        </dl>
                        <ol class="set-preview">
                            <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                            <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                            <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                            <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                            <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                        </ol>
                        <button class="btn">Customize</button>
                    </li>
                }

            }

        </ul>
    </section>
</div>