@{
    ViewBag.Title = "Home Page";
}



@*

        <<<<<<< HEAD
    <section class="index-slogan">
        <h1>
            Simply square,<br />
            You're the designer now
        </h1>
        <p>
            Description of the what the website is all about. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
            quam nihil molestiae consequatur, vel illum qui dolorem eum
            fugiat quo voluptas nulla pariatur
        </p>
        <span><a href="#">Click here</a> to find out how to use our designer.</span>
    </section>
    <div class="content-container">
        <h2>Most popular sets</h2>
        <section>
            <ul>
                <li class="set-item">
                    <h3>Title</h3>
                    <span>Artist Name</span>
                    <p>
                        Description Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <dl>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-off"></dt>
                    </dl>
                    <ol class="set-preview">
                        <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                    </ol>
                    <button>Customize</button>
                </li>
                <li class="set-item">
                    <h3>Title second</h3>
                    <span>Artist Name</span>
                    <p>
                        Description Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <dl>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-off"></dt>
                        <dt class="rating-off"></dt>
                    </dl>
                    <ol class="set-preview">
                        <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                    </ol>
                    <button>Customize</button>
                </li>
                <li class="set-item">
                    <h3>Title third</h3>
                    <span>Artist Name</span>
                    <p>
                        Description Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <dl>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-off"></dt>
                    </dl>
                    <ol class="set-preview">
                        <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                    </ol>
                    <button>Customize</button>
                </li>
                <li class="set-item">
                    <h3>Title fourth</h3>
                    <span>Artist Name</span>
                    <p>
                        Description Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat.
                    </p>
                    <dl>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                        <dt class="rating-on"></dt>
                    </dl>
                    <ol class="set-preview">
                        <li><a href="#"><img src="~/Content/images/squares/1.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/2.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/3.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/4.jpg"></a></li>
                        <li><a href="#"><img src="~/Content/images/squares/5.jpg"></a></li>
                    </ol>
                    <button>Customize</button>
                </li>
            </ul>
        </section>
        =======

*@
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 remove-gutter">
                <div class="fold">

                    <div class="video-container">
                        <video id="video-bg" loop autoplay>
                            <source src="~/Content/images/videoLoop.mp4" type="video/mp4">
                        </video>
                    </div>

                    <main class="fold__content">
                        <div class="fold__header">
                            <div>
                                <h1 class="fold__title">Simply square, <br />you are now the designer</h1>
                            </div>
                            <div>
                                <p class="fold__subtitle">We hate circles. Click here to find out how to use our designer. We hate circles. Click here to find out how to use our designer. We hate circles. Click here to find out how to use our designer. We hate circles. Click here to find out how to use our designer.</p>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <div class="row gallery">

            <div class="col-xl-12">

                <div class="gallery__header">
                    <h1>Most popular sets</h1>
                </div>

                @{

                    for (var i = 0; i < 9; i++)
                    {

                        <div class="col-md-6 col-lg-6 col-xl-4">
                            <div class="row set__wrapper">
                                <div class="set">
                                    <div class="col-xl-12 remove-gutter">
                                        <h2 class="set__title">Set title</h2>
                                        <p class="set__author">Author</p>
                                        <p class="set__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <img class="set__piece" src="~/Content/images/squares/1.jpg" />
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <img class="set__piece" src="~/Content/images/squares/2.jpg" />
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <img class="set__piece" src="~/Content/images/squares/3.jpg" />
                                        </div>
                                        <div class="col-xs-3 col-sm-3 col-md-3">
                                            <img class="set__piece" src="~/Content/images/squares/4.jpg" />
                                        </div>
                                    </div>
                                    <button class="set__btn">Customize</button>
                                </div>
                            </div>
                        </div>

                    }

                }

            </div>
        </div>
        >>>>>>> refs/remotes/origin/rogue
    </div>
