@model Squares.Models.Profile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="profile-container">
    <div class="profile-image-container">
        <img src="https://lh3.googleusercontent.com/-OVWapa1cMi8/AAAAAAAAAAI/AAAAAAAAAAA/QcfUy0l4Luw/photo.jpg" />
    </div>
    <div class="profile-info-container">
        <h3>Alias Name Last Name</h3>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
    </div>
</section>
<section class="profile-sets-container">
    <h2>Most popular sets by this artist</h2>
    <div class="profile-sets-wrapper">
        <h3>Set name</h3>
        <dl class="rating-container">
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-off"></dt>
        </dl>
        <ul>
            <li><img src="~/Content/images/squares/1.jpg" /></li>
            <li><img src="~/Content/images/squares/2.jpg" /></li>
            <li><img src="~/Content/images/squares/3.jpg" /></li>
            <li><img src="~/Content/images/squares/4.jpg" /></li>
            <li><img src="~/Content/images/squares/5.jpg" /></li>
        </ul>
        <p class="set-description">
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
        <button class="btn">Customize</button>
    </div>
    <div class="profile-sets-wrapper">
        <h3>Set name</h3>
        <dl class="rating-container">
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-off"></dt>
        </dl>
        <ul>
            <li><img src="~/Content/images/squares/1.jpg" /></li>
            <li><img src="~/Content/images/squares/2.jpg" /></li>
            <li><img src="~/Content/images/squares/3.jpg" /></li>
            <li><img src="~/Content/images/squares/4.jpg" /></li>
            <li><img src="~/Content/images/squares/5.jpg" /></li>
        </ul>
        <p class="set-description">
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
        </p>
        <button class="btn">Customize</button>
    </div>

    <div class="profile-sets-wrapper">
        <h3>Set name</h3>
        <dl class="rating-container">
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-off"></dt>
        </dl>
        <ul>
            <li><img src="~/Content/images/squares/1.jpg" /></li>
            <li><img src="~/Content/images/squares/2.jpg" /></li>
            <li><img src="~/Content/images/squares/3.jpg" /></li>
            <li><img src="~/Content/images/squares/4.jpg" /></li>
            <li><img src="~/Content/images/squares/5.jpg" /></li>
        </ul>
        <button class="btn">Customize</button>
    </div>

    <div class="profile-sets-wrapper">
        <h3>Set name</h3>
        <dl class="rating-container">
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-on"></dt>
            <dt class="rating-off"></dt>
        </dl>
        <ul>
            <li><img src="~/Content/images/squares/1.jpg" /></li>
            <li><img src="~/Content/images/squares/2.jpg" /></li>
            <li><img src="~/Content/images/squares/3.jpg" /></li>
            <li><img src="~/Content/images/squares/4.jpg" /></li>
            <li><img src="~/Content/images/squares/5.jpg" /></li>
        </ul>
        <p class="set-description">
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Description Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Description Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
            Description Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat.
        </p>
        <button class="btn">Customize</button>
    </div>

</section>


