@model Squares.Models.User

@{
    ViewBag.Title = "AccountManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Welcome: @Model.UserName</h2>
<h2>@Model.FirstName</h2>
<h2>@Model.LastName</h2>



