@model Squares.Models.CreateSetModel
@{
    ViewBag.Title = "AddSet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-container add-set">
    <section>
    @using (Html.BeginForm("AddSet", "Account", FormMethod.Post, new { enctype = "multipart/form-data" })){
        @Html.TextBoxFor(x => x.Title)
        @Html.TextAreaFor(x => x.Description)

        <input id="Images" name="Images" type="file" multiple />
        <input type="submit" value="Submit" class="btn"/>
    }
    </section>
</div>